@model AutoVidaSv.Models.Renta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Renta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaentrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaentrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechadevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechadevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totaldedias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totaldedias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agregardiasextra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agregardiasextra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totalacancelar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totalacancelar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Rentaid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
