@model AutoVidaSv.Models.Carro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combustible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combustible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Albumcar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Albumcar.Albumcarid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Autoid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
