@model IEnumerable<AutoVidaSv.Models.Carro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
<<<<<<< HEAD
    <a href="@Url.Action("Create", "Carroes")" class="btn btn-primary">Nuevo Registro</a>
=======
    <a asp-action="Create">Create New</a>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combustible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albumcar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<<<<<<< HEAD
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transmicion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Combustible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Albumcar.Albumcarid)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Autoid">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Autoid">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Autoid">Delete</a>
                </td>
            </tr>
        }
=======
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combustible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Albumcar.Albumcarid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Autoid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Autoid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Autoid">Delete</a>
            </td>
        </tr>
}
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
    </tbody>
</table>
