@model IEnumerable<AutoVidaSv.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
<<<<<<< HEAD
    <a asp-action="Create" class="btn btn-primary">Create New</a>
=======
    <a asp-action="Create">Create New</a>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autoid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechaventa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valorventa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Autoid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechaventa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valorventa)
            </td>
            <td>
<<<<<<< HEAD
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Ventaid">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Ventaid">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Ventaid">Delete</a>
=======
                <a asp-action="Edit" asp-route-id="@item.Ventaid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ventaid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ventaid">Delete</a>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
            </td>
        </tr>
}
    </tbody>
</table>
